@tailwind base;
@tailwind components;
@tailwind utilities;

/* .nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 0.75rem;
  border-radius: 0.75rem;
  font-weight: 600;
  color: #374151;
  transition: all 0.2s ease;
}

.nav-item span {
  display: none;
}

.group:hover .nav-item span {
  display: inline;
}

.nav-item:hover {
  background-color: rgba(13, 148, 136, 0.2);
} */
